@font-face {
    font-family: 'Droid Serif';
    src: url('fonts/DroidSerif.woff2')format ('woff2'),
        url('fonts/DroidSerif.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('fonts/DroidSerif-Bold.woff2')format ('woff2'),
        url('fonts/DroidSerif-Bold.woff') format('woff');
    font-weight: 700;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}




img,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    display: block;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}



/*
Доступно скрываю элементы
*/

.visually-hidden {
    position: fixed;
    transform: scale(0);
}



body {
    font-family: 'Droid Serif',
        system-ui, -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1095px;
    margin-left: 75px;
}

.care__heading {
    margin: 100px 30px 35px 75px;
}

.care__shoes {
    margin: 35px 30px 25px 75px;
}

.care__shoes-regular {

    margin: 25px 30px 25px 75px;

}



ol {
    margin: 25px 30px 25px 90px;
    padding: 0;
}


#attention {
    margin-top: 50px;
    margin-bottom: 25px;
}

.attention__title {
    margin-bottom: 20px;
}

.shoes-img {
    margin-left: 75px;
}

#first-time {
    margin: 25px 0 25px 0;
}

#first-time h3 {
    margin-bottom: 20px;
}

.care-home {
    margin: 25px 0 90px 0;
}

.care-home__title {
    margin-bottom: 20px;
}

.care-home__better {
    margin-bottom: 50px;
}

.care-home__wash {
    margin-bottom: 70px;
}

.care-home__two,
.care-home__end {
    margin-top: 50px;
}